$bg-color: #0f172a;
$primary-color: #2563eb;
$primary-color-hover: #1d4ed8;
$text-color: #fff;

body,
html,
#root {
  height: 100%;
}

.error-container {
  height: 100vh;
  //background: $bg-color;
  background: url("../assets/ownership-leadership-banner.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $text-color;
  text-align: center;
  animation: fadeIn 1.5s ease-out;

  .error-code {
    filter: brightness(0) invert(1);
    font-size: 8rem;
    font-weight: 800;
    letter-spacing: 0.1em;
    animation: float 3s infinite ease-in-out;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  }

  .message {
    font-size: 1.5rem;
    margin-top: 1rem;
    animation: slideIn 2s ease-out;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  }

  .home-btn {
    margin-top: 2rem;
    padding: 0.75rem 1.5rem;
    background: $primary-color;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
    animation: fadeIn 2.5s ease-out;

    &:hover {
      background: $primary-color-hover;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
