$primaryColor: #5ac2dc;
$primaryTextColor: #15459a;
$backgroundColor: #f5f5f5;
$varSpacer: 1rem;

body {
  margin: 0;
  background-color: $backgroundColor;
}
pre {
  font-family: inherit;
  font-size: inherit;
}

.custom-modal {
  top: 5px;

  .ant-modal-title {
    position: absolute;
    background: $primaryColor;
    top: 0;
    left: 0;
    width: 100%;
    height: 57px;
    border-radius: 0 0 11px 11px;
    text-align: left;
    padding: 17px;
    color: white;
    font-weight: bold;
    padding-right: 52px;
    display: flex;
    align-items: center;
    word-break: break-word;
  }

  .ant-modal-body {
    margin-top: 57px;
  }

  .ant-modal-close {
    color: white;
    border: 2px solid white;
    border-radius: 264px;
    width: 30px;
    top: 1em;
    height: 30px;

    &:hover {
      color: white !important;
    }
  }

  hr.vertical {
    width: 4px;
    border-radius: 20px;
    height: 55%;
    background-color: $primaryColor;

    /* or height in PX */
  }

  .horizontal-line-shape {
    border-top: 10px solid $primaryColor;
    width: 100%;
    margin-top: calc($varSpacer * 0.5);
  }
  .ant-modal-body {
    margin-top: 57px;
    padding: $varSpacer;
  }
  .ant-modal-content {
    padding: 20px 10px;
  }
}

.modal-full {
  width: 100vw !important;
  transform-origin: 1052px 351px;
  margin: 0 !important;
  padding: 0 !important;
  max-width: 100vw !important;
  height: 100dvh !important;
  top: 0 !important;

  .ant-modal-content {
    width: 100vw;
    height: 100dvh;
    overflow: auto;
    border-radius: 0;
    padding: 0;
  }
}

.custom-table .ant-table-thead > tr > th {
  background-color: #5ac2dc !important;
  color: white !important;
}

.custom-permission-tree .ant-tree-node-selected {
  background-color: #5ac2dc !important;
  color: #fff !important;
  font-weight: bold;
  border-radius: 4px;
}

.custom-permission-tree .tree-func-hidden {
  display: none !important;
}
